* , *::before , *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Nunito;
    src: url(./nunito-regular.woff);
}

body{
    font-family: Nunito;
}

form{
    font-family: Nunito;
    > * {
        font-family: Nunito;
    }
}

:root{
    --clr-primary: rgb(59 130 246);
    --clr-secondary: rgb(37 99 235);
}


button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40%;
    @media(width <= 700px){
        width: 80%;;
    }
    border: 1px solid var(--clr-primary);
    border-radius: 0.25rem;
}

div[role="tablist"]{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb( 0 0 0 / 0.8);
    > button[role="tab"]{
        flex: 1;
        font-size: 1rem;
        &:active{
            border-bottom: 2px solid var(--clr-primary);
        }
        padding-block: 1rem;
        &[data-active='true']{
            border-bottom: 2px solid var(--clr-primary);
            color: var(--clr-primary);
        }
    }
}



div[role="tabpanel"]{
    padding: 1rem;
}

div[data-active="true"]{
    display: block;
}

div[data-active="false"]{
    display: none;
}


.tabpanel-instruction{
    color: rgb(0 0 0 / 0.7);
    margin-bottom: 1rem;
}




form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    label{
        color: var(--clr-primary);
    }
    input{
        height: 40px;
        padding-left: 0.5rem;
        &:focus{
            border-radius: 0.25rem;
            outline-color: var(--clr-primary);
        }
    }
}

button[type="submit"]{
    padding: 0.625rem 1rem;
    border: 1px solid;
    border-radius: 0.25rem;
    align-self: end;
    color: white;
    background-color: var(--clr-primary);
    &:hover{
        background-color: var(--clr-secondary);
    }
}